.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.DS_Store

.ipynb_checkpoints
*/.ipynb_checkpoints/*

#Ignore Data Folder
data/
analysis/__pycache__/
*.txt